<p>side-nav works!</p>


<button mat-raised-button (click)="toggleDrawer()">

  <mat-icon  class="material-symbols-outlined">
    menu
    </mat-icon>
</button>

<!-- <mat-drawer-container class="example-container" >
  <mat-drawer #drawer >I'm a drawer</mat-drawer>
  <mat-drawer-content>




  </mat-drawer-content>
</mat-drawer-container> -->



<!-- <Mat-icon></Mat-icon> -->
<!-- <app-drawer-content *ngIf="showDrawer"></app-drawer-content> -->


<app-togle-drawer [showDrawer]="showDrawer"></app-togle-drawer>
<button mat-raised-button (click)="toggleDrawer()">Toggle drawer</button>



