<div class="Cotainer">
  <div class="">
    <!--Busqueda-->



      <!-- <app-popup-sidebar></app-popup-sidebar> -->
      <!-- <app-side-nav></app-side-nav> -->

      <!-- <app-button-sidenav></app-button-sidenav> -->

      <!-- <app-togle-drawer></app-togle-drawer> -->



    </div>



    <mat-drawer-container class="example-container">
      <mat-drawer [opened]="showDrawer">
        <!-- History Nav -->
        <shared-sidebar></shared-sidebar>

      </mat-drawer>
      <mat-drawer-content>

        <div class="containerDiv">

          <div class="containerDiv_Header">
            <div class="containerDiv_Header-title">

              <h1 class="title">Gif App</h1>

            </div>

            <div class="containerDiv_Header-searchBox">

              <button mat-raised-button (click)="toggleDrawer()">

                <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" color="white">
                  <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
                </svg>

              </button>

              <gifs-search-box class="search-box"></gifs-search-box>



            </div>


          </div>


          <div class="">
            <!--Listado de gifs-->
            <gifs-card-list [gifs]="gifs"></gifs-card-list>
          </div>

        </div>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
