<div class="Cotainer">
  <div class="">
    <!--Busqueda-->



      <!-- <app-popup-sidebar></app-popup-sidebar> -->
      <!-- <app-side-nav></app-side-nav> -->

      <!-- <app-button-sidenav></app-button-sidenav> -->

      <!-- <app-togle-drawer></app-togle-drawer> -->



    </div>



    <mat-drawer-container class="example-container">
      <mat-drawer [opened]="showDrawer">
        <!-- History Nav -->
        <shared-sidebar></shared-sidebar>

      </mat-drawer>
      <mat-drawer-content>

        <div class="bg-black">

          <button mat-raised-button (click)="toggleDrawer()">Toggle drawer</button>

          <gifs-search-box></gifs-search-box>

          <div class="">
            <!--Listado de gifs-->
            <gifs-card-list [gifs]="gifs"></gifs-card-list>
          </div>

        </div>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
