.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%; /* Ocupa solo un 25% del ancho de la pantalla */
  height: 100%; /* Ocupa toda la altura de la pantalla */
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* Inicialmente, el sidebar está oculto */
  z-index: 2;
}

.sidebar-open {
  transform: translateX(0); /* Al abrir el sidebar, se muestra desplazado hacia la izquierda */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-open + .overlay {
  opacity: 1;

}
